h1 {
    text-align: center;
    background-color: rgb(145, 145, 223);
    font-size: 70px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 45px;
}

#nombre {
    font-size: 30px;
}

#ahorro {
    font-size: 30px;
}

#tiempo {
    font-size: 30px;
}

#label1 {
    font-size: 30px;
}

#label2 {
    font-size: 30px;
}

#label3 {
    font-size: 30px;
}

#boton {
    font-size: 30px;
}