h1 {
    text-align: center;
    background-color: rgb(145, 145, 223);
    font-size: 70px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 45px;
}

h2, h3 {
    margin: 60px;
    background-color: gray;
}

#nombre, #ahorro, #tiempo, #label1, #label2, #label3, #boton {
    font-size: 30px;
}

#nombre, #ahorro, #tiempo {
    align-items: center;
    width: 100%;
    padding: 0px;
} 

#app {
    display: flex; 
    justify-content: center;
}

#formulario {
    font-size: 30px;
    background-color: green;
    padding: 10px;
}

#boton-form {
    display: flex; 
    justify-content: center;
}